body { 
    background-image: url(https://www.publicdomainpictures.net/pictures/30000/nahled/old-background-1350553550zpI.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
}

.cabecalho{
    background-color: rgb(201, 128, 211);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {

}

p {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(207, 113, 203);
    display: flex;
}

.imgcentro {
    width: 100px;
    height: 150px;
    container: center;
    display: flex;
    margin-right: 20px;
    
}

nav{

}

li{
    display: inline-block;
    margin: 30px;
}

li a{
    font-size: 50px;
    text-decoration: none;
    color: white;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  align-items: center;  
}



.text{
    flex: 1;
    padding-right: 20px;
    padding-right: 2em;
    align-self: center;
    color: white;
}

.imagem{
    width: 200px;
    margin: 25px;
    border-radius: 5px;
   padding-left: 10px;
    padding-right: 10px;
}

.secao{
    max-width: 1200px;
    margin-top: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 2);
    /*border-radius: 9px;*/
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ca2fbd;
    padding: 20px;
}