body { 
    background-color: ;
}

.cabecalho{
    background-color: rgb(189, 98, 24);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {

}

p {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(151, 74, 10);
    display: flex;
}

.imgcentro {
    width: 100px;
    height: 150px;
    container: center;
    display: flex;
    margin-right: 20px;
}

nav{

}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  align-items: center;  
}





